requests
eodc
nbformat
matplotlib
rich
odc-stac==0.3.10
Ipython
netCDF4
s3fs
ipywidgets
utils
contextily
datacube
jsonschema
prometheus-client
datetime
websocket-client
dask==2023.8.0
distributed==2023.8.0
cloudpickle==2.2.1
tornado==6.3.2
toolz==0.12.0
msgpack==1.0.5
lz4==4.3.2
