name: Test OpenStack 

on:
  schedule:
    - cron: '0 * * * *'  
  workflow_dispatch:
  push:
    paths:
        - 'scripts/test_openstack.py'
        - '.github/workflows/test_openstack.yml'      

jobs:
  openstack-test:
    runs-on: ubuntu-latest

    env:
      OPENSTACK_IMAGE_ID: ${{ secrets.IMAGE_ID }}
      OPENSTACK_FLAVOR_ID: ${{ secrets.FLAVOR_ID }}
      OPENSTACK_NETWORK_ID: ${{ secrets.NETWORK_ID }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Install Dependencies
        run: pip install openstacksdk prometheus-client

      - name: Set Pushgateway env
        run: |
          echo "PUSHGATEWAY_URL=${{ secrets.PUSHGATEWAY_ENDPOINT }}" >> $GITHUB_ENV
          echo "PUSHGATEWAY_USERNAME=${{ secrets.PUSHGATEWAY_USERNAME }}" >> $GITHUB_ENV
          echo "PUSHGATEWAY_PASSWORD=${{ secrets.PUSHGATEWAY_PASSWORD }}" >> $GITHUB_ENV


      - name: Create clouds.yaml from secret
        run: |
          mkdir -p ~/.config/openstack
          echo "${{ secrets.OPENSTACK_CLOUDS_YAML }}" > ~/.config/openstack/clouds.yaml

      - name: Run OpenStack VM Test
        run: python scripts/test_openstack.py

      - name: Commit Logs
        if: always()
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git pull --rebase --autostash
          git add results/logs/test_openstack.log
          git commit -m "test logs"
          git push