name: Clone EODC Examples and Test Notebooks

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'results/logs/**'
  schedule:
    - cron: "0 10 * * 6"  # Friday 10:00 

  workflow_dispatch:

jobs:
  clone-and-test-notebooks:
    runs-on: ubuntu-latest

    steps:
      - name: Check out current repository
        uses: actions/checkout@v4

      - name: Clone eodcgmbh/eodc-examples repository
        run: git clone https://github.com/eodcgmbh/eodc-examples.git notebooks

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run test_notebooks.py
        run: python scripts/test_notebooks.py

      - name: Update HTML Report
        run: python scripts/update_html_report_notebook.py

      - name: Commit and push log files
        if: always()
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git pull --rebase --autostash
          git add results/logs/test_notebooks.log docs/index_notebook.html
          git commit -m "Updated notebook test logs" || echo "No changes to commit"
          git push
